<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/deposit.css' %}">
</head>
<body>
    <div class="container">
        <h1>Deposit Amount</h1><br>
        {% if var %}
        <h2>Available balance is:{{bal}}</h2>
        {% else %}
        <form action="" method="POST">
            {% csrf_token %}
            Acc-No: <input type="number" name="acc" id=""><br><br>
            Mobile: <input type="number" name="mobile" id=""><br><br>
            Amount: <input type="number" name="amt"><br><br>
            <button type="submit" class="submit-btn">DEPOSIT</button>
        </form> 
        <a href="{% url 'home' %}">
            <button id="btn1" type="submit">Home</button>
        </a>
    </div>
    {% endif %}
</body>
</html>