<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/transfer.css' %}">
</head>
<body>
    <div class="container">
        <h1>Account transfer</h1><br>
        <form action="" method="POST">
            {% csrf_token %}
            From Account Number: <input type="number" name="acc" id=""> <br><br>
            To Account Number: <input type="number" name="tacc" id=""><br><br>
            Amount: <input type="number" name="amt"><br><br>
            PIN: <input type="number"name="pin",id="" maxlength="4"><br><br>
            <button type="submit" class="submit-btn">TRANSFER AMOUNT</button>
        </form>
        <a href="{% url 'home' %}">
            <button id="btn1" type="submit">Home</button>
        </a>    
    </div>
</body>
</html>


 